<div class="container">
  <div class="row banner">
    <div class="col-md-12">
      <div class="list-group">
        <div class="list-group-item">
          <div class="row-action-primary">
            <h4 class="list-group-item-heading">
              <span class="glyphicon glyphicon-user"></span>
              Administar Unidades de Negocio
            </h4>
          </div>
          <div class="row-content">
            <a [routerLink]="['/unidadnegocio']" class="btn btn-default btn-raised">Todas los unidades de negocio</a>
            <a [routerLink]="['/unidadnegocio/create']" class="btn btn-primary btn-raised">Nuevo Unidad de Negocio</a>
          </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-action-primary">
            <h4 class="list-group-item-heading">
              <span class="glyphicon glyphicon-picture"></span>
              Administrar Imagenes
            </h4>
          </div>
          <div class="row-content">
            <a [routerLink]="['/adminimage/images']" class="btn btn-default btn-raised">Todas las imagenes</a>
            <a [routerLink]="['/adminimage/images/create']" class="btn btn-primary btn-raised">Nueva Imagen</a>
          </div>
        </div>
        <div class="list-group-separator"></div>
      </div>
    </div>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
